<br />
<br />
<div class="row">
	<div class="col-lg-4 col-md-6 col-md-offset-3 col-lg-offset-4">
		<div class="section">
			<div class="padding" style="padding-top:25px">
				<div data-jc="pictureupload" data-jc-path="settings.picture" data-width="150" data-height="150" data-url="/api/upload/photo/" class="auto center" data-path="/photos/{0}.jpg" data-error-large="@(The picture is too large.)"></div>
				<div class="center mt10 b black" data-b="settings.position" data-b-html="n => n"></div>
			</div>
			<hr class="nmb nmt" />
			<div class="success hidden" data-b="settings.response" data-b-visible="n => n && n.success">
				<i class="fa fa-check-circle"></i>@(Votre profil a été mis à jour.)
			</div>
			<div class="padding">
				<div data-jc="textbox" data-jc-path="settings.name" data-maxlength="30" class="m" data-required="true">@(Pseudo)</div>
				<div data-jc="textbox" data-jc-path="settings.email" data-maxlength="120" class="m" data-required="true" data-jc-type="email">@(E-mail)</div>
				<div data-jc="textbox" data-jc-path="settings.password" data-maxlength="30" class="m" data-required="true" data-jc-type="password">@(Mot de passe)</div>
				<div data-jc="dropdown" data-jc-path="settings.theme" data-options="@(Noir)|dark;@(Rose)|pink;@(Bleu)|blue;@(Vert)|green;@(Jaune)|red;@(Violet)|purple" class="m" data-required="true">@(Thème)</div>
				<br />
				<div data-jc="error" data-jc-path="settings.response"></div>
				<div data-jc="validation" data-jc-path="settings">
					<button class="button exec" data-exec="settings_save" disabled="disabled">@(Enregistrer)</button>
				</div>
			</div>
		</div>
	</div>
</div>
<br />
<br />

<script>

	var settings = {};

	function settings_reload() {
		SET('current.title', '@(Settings)');
		SET('current.description', '@(Change your preferences)');
		$('#messagebox').addClass('hidden');
		EMIT('resize');
		var data = CLONE(user);
		if (!data.theme)
			data.theme = 'dark';
		SET('settings', data, true);
		SET('settings.password', '**********', 1000);
		SET('common.stats', null);
	}

	WATCH('settings.theme', function(path, value, type) {
		type === 2 && settings_theme(value);
	});

	function settings_theme(value) {
		var body = $(document.body);
		body.attr('class').split(' ').forEach(function(item) {
			if (item.substring(0, 5) === 'theme')
				body.removeClass(item);
		});
		body.addClass('theme-' + value);
	}

	function settings_save() {
		if (BLOCKED('settings', 2000) || !MAIN.valid('settings.*'))
			return;
		RESET('settings.*');
		AJAX('POST /api/account/', settings, 'settings.response');
		user.name = settings.name;
		user.email = settings.email;
		user.picture !== settings.picture && $('.user-name').find('img').attr('src', '/photos/{0}.jpg'.format(settings.picture));
		user.picture = settings.picture;
		user.status = settings.status;
		user.theme = settings.theme;
		var tmp = current.users.findItem('id', user.id);
		if (tmp) {
			tmp.status = user.status;
			tmp.name = user.name;
			tmp.email = user.email;
			tmp.picture = user.picture;
			tmp.theme = user.theme;
		}
		settings_theme(user.theme);
	}

</script>